
<ion-content [fullscreen]="true" class="ion-padding-top">
      
    
    <ion-row class="ion-align-items-center" class="profil">
      <ion-col size="4">
        <div>
          <ion-avatar slot="start" style="margin-left : 30px">
            <img [src]="user.profile" *ngIf="user.profile else picture">
      
            <ng-template #picture>
              <img src="/assets/pictures/profile.png">
            </ng-template>
          </ion-avatar>
        </div>
      </ion-col>
      <ion-col size="8" class="ion-padding-top">
        <ion-label>
          {{user.name}}
        </ion-label>
      </ion-col>
    </ion-row>
      

      <ion-item lines="none" class="ion-text-center">
        <ion-label class="ion-text-wrap title">
          Your Top Performing networks
         </ion-label>
      </ion-item>

      <ion-list lines="none">
        <ion-item class="social-item" *ngFor="let score of user.user_network">
          <ion-thumbnail slot="start">
            <ion-img src="/assets/icons/facebook.png" *ngIf="score.network_id == 1"></ion-img>
            <ion-img src="/assets/icons/linkedin.png" *ngIf="score.network_id == 2"></ion-img>
            <ion-img src="/assets/icons/twitter.png" *ngIf="score.network_id == 3"></ion-img>
            <ion-img src="/assets/icons/instagram.png" *ngIf="score.network_id == 4"></ion-img>
          </ion-thumbnail>
          <ion-label>{{score.network.network_name}}</ion-label>
          <p class="ion-text-right score">
            <span class="fb-color" *ngIf="score.network_id == 1 && score.score">{{score.score.score}}</span>
            <span class="ln-color" *ngIf="score.network_id == 2 && score.score">{{score.score.score}}</span>
            <span class="tw-color" *ngIf="score.network_id == 3 && score.score">{{score.score.score}}</span>
            <span class="in-color" *ngIf="score.network_id == 4 && score.score">{{score.score.score}}</span>
          </p>
        </ion-item>
      
      </ion-list>

      <ion-item lines="none" class="ion-text-center">
        <ion-label class="ion-text-wrap title">
          Your Score
        </ion-label>
      </ion-item>
      


     <div class="circle ion-text-center">
      <circle-progress
      [percent]="user.percentScore"
      [title]="user.totalScore"
      [subtitle]="'/1000'"
      [titleFontWeight]="'600'"
      [titleFontSize]="'30'"
      [subtitleFontSize]="'20'"
    >
   </circle-progress>
     </div>

 
</ion-content>
