<ion-content [fullscreen]="true">
  <ion-item lines="none" slot="fixed" class="ion-text-center search-bar" >
    <ion-label position="floating">
      Search
    </ion-label>

    <ion-searchbar 
    placeholder="Search..." 
    [(ngModel)]="searchTerm"
    (ionChange)="setFilteredItems()">
    </ion-searchbar>
  </ion-item>

  <ion-list lines="none">

    <ion-item class="social-item" *ngFor="let user of users">
      <ion-avatar slot="start" (click)="showProfil(user)">
        <img [src]="user.profile" *ngIf="user.profile else picture">
        
        <ng-template #picture>
          <img src="/assets/pictures/profile.png">
         </ng-template>
      </ion-avatar>
      <ion-label (click)="showProfil(user)">
        <ion-text color="dark">
          {{user.name}}
        </ion-text>
        <ul class="networks">
          <li>
            <ion-img src="/assets/icons/facebook.png"></ion-img>
            <ion-text slot="end">{{user.score_fb}}</ion-text>
          </li>
          <li>
            <ion-img src="/assets/icons/twitter.png" slot="start"></ion-img>
            <ion-text slot="end">{{user.score_tw}}</ion-text>
          </li>
          <li>
            <ion-img src="/assets/icons/linkedin.png" slot="start"></ion-img>
            <ion-text slot="end">{{user.score_li}}</ion-text>
          </li>
        </ul>
      </ion-label>
      <p class="ion-text-right score">
        <span class="score-color">{{user.total_score}}</span>
      </p>
    </ion-item>

  </ion-list>
</ion-content>
