<ion-content class="login">
  <ion-img src="/assets/pictures/welcome.png"></ion-img>
  <div class="login-buttons">
      <ion-label class="ion-text-wrap title">
          <h2>Welcome to bubble</h2>
      </ion-label>
      <ion-text class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
        Sed eum, sapiente ullam illo iusto optio expedita molestias <br>
      </ion-text>

      <ion-list>
          <ion-item lines="none">
              <ion-button expand="block" class="register-button" routerLink="/register">
                  <ion-text>Register</ion-text>
              </ion-button>
          </ion-item>

          <ion-item lines="none">
              <ion-button expand="block" class="login-button" routerLink="/login">
                      <ion-text>Login</ion-text>
              </ion-button>
          </ion-item>

        </ion-list>
  </div>
</ion-content>